.main
  background: rgba(243, 240, 255, 1)

  &-wrapper
    display: flex
    justify-content: space-between
    position: relative

  &-info
    max-width: 681px
    padding-top: 200px
    padding-bottom: 250px
  &-image
    overflow: hidden
  &__img
    position: absolute
    bottom: 0
    right: -200px
    width: 900px
    min-height: 100%


  &-title
    font-family: Lato
    font-size: 55px
    font-style: normal
    font-weight: 700
    line-height: 65px
    letter-spacing: 1.65px
    margin-bottom: 15px
  &-text
    font-family: Rubik
    font-size: 16px
    font-style: normal
    font-weight: 300
    line-height: 30px
    width: 660px
    color: $text2
    margin-bottom: 25px
